schemas/extracted/*
data/network-activity/network_activity_ingest.log
data/network-activity/network_data/*
data/http_activity/access_log_n.json
data/http_activity/parsed_logs.json
data/http_activity/apache/parsed_logs.json
data/http_activity/apache/parsed_logs.json
